certifi==2019.3.9
configparser==3.7.4
Django==1.10.6
image==1.5.27
Markdown==3.1.1
mysql-connector-python==8.0.16
mysqlclient==1.4.2.post1
Pillow==8.3.2
Pygments==2.4.2
PyMySQL==0.9.3
pytz==2019.1
sqlparse==0.3.0
